%% -*- mode: erlang -*-
%% Config file for the xyws application
%% Good practice is to make a local copy to use during testing
[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    %% Lager config, see lager documentation
    {lager, 
	[{handlers, 
	    [{lager_console_backend, debug},
		{lager_file_backend,
		    [{"log/lager/error.log", error, 10485760, "$D0", 5},
			{"log/lager/console.log", info, 10485760, "$D0", 5}]}]}
    ]},

 {xylan,
  [{mode, client},
   {id, "local"},                 %% id of client
   {server_ip, "127.0.0.1"},      %% connect to this address
   {server_port, 29390},          %% connect to this port
   {server_key, 3177648541185394227},   %% server is signing using this key
   {client_key, 12187761947737533676},  %% client is signing using this key
   {ping_interval, 20000},
   {pong_timeout,  3000},
   {reconnect_interval, 5000},
   {auth_timeout, 4000},
   {route,[
	   { [{data, "SSH-2.0.*"}],  [{port,22}] },
	   { [{data, "GET .*"}],     [{ip,"www.google.com"},{port,80}] }
	  ]}
  ]}


].

