%% -*- erlang -*-
%% Config file for xyws application.
{sub_dirs, ["src"]}.
{deps_dir, ["deps"]}.

{deps,
 [
  {exo,".*", {git,"git://github.com/Feuerlabs/exo",{branch,master}}},
  {lager,".*", {git,"git://github.com/Feuerlabs/lager", {branch,master}}}
 ]}.

{erl_opts, [debug_info]}. %% do not forget warnings_as_errors
{xref_checks, [exports_not_used, undefined_function_calls]}.
