%% -*- erlang -*-
%% Config file for xylan application.
{deps,
 [
  {lager,".*", {git,"https://github.com/tonyrog/lager"}},
  {afunix, ".*", {git, "git://github.com/tonyrog/afunix.git"}}
 ]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}. %% do not forget warnings_as_errors
{xref_checks, [exports_not_used, undefined_function_calls]}.
