%% -*- mode: erlang -*-
%% Example server config file for the xylan application
%% Good practice is to make a local called xylan.config!
[
 {xylan,
  [{mode, client},
   {id, "client"},                  %% id of client
   {server_id, "server"},           %% optional local server id
   {server_ip, "server.net"},       %% connect to this address
   {server_port, 29390},            %% connect to this port
   {server_key, 123456789},  %% server is signing using this key
   {client_key, 987654321},  %% client is signing using this key
   {ping_interval, 20000},
   {pong_timeout,  3000},
   {reconnect_interval, 5000},
   {auth_timeout, 4000},
   {service_socket_options, [{sndbuf,4096},{rcvbuf,4096}]},
   {server_socket_options, [{sndbuf,8192},{rcvbuf,2048}]},
   {route,[
	   { [{data, "SSH-2.0.*"}],  [{port,22}] },
	   { [{data, "GET .*"}],     [{port,80}] }
	  ]}
  ]},

 %% Configure logs

 {kernel, 
  [
   %% {logger_level, Level::loger_level()} 
   %%     loger_level() :: emergency | alert | critical | error | warning | 
   %%                      notice | info | debug | all | none.
   {logger_level, debug},
   %% {module_level, Level::loger_level(), Modules::[atom()]}

   {logger,
    [
     %% {module_level, debug, xylan_clt},

     {handler, default, undefined}, %% removed default handler

   %% DISK loggers

     {handler, default, logger_disk_log_h,
      #{ level => all,
	 config => #{ file => "logs/console.log",
		      type => wrap,      %% wrap | halt
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    } 
       }},

     {handler, error, logger_disk_log_h,
      #{ level => error,
	 config => #{ file => "logs/error.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    }
       }},

     %% {handler, warning, logger_disk_log_h,
     %%  #{ level => warning,
     %% 	 config => #{ file => "logs/warning.log",
     %% 		      type => wrap,
     %% 		      max_no_files => 4,
     %% 		      max_no_bytes => 1000000
     %% 		    } 
     %%   }},

     %% {handler, info, logger_disk_log_h,
     %%  #{ level => info,
     %% 	 config => #{ file => "logs/info.log",
     %% 		      type => wrap,
     %% 		      max_no_files => 4,
     %% 		      max_no_bytes => 1000000
     %% 		    } 
     %%   }},

     %% DEBUG, tty log, debug ONLY level
     {handler, debug_tty, logger_std_h,
      #{ level => debug,
	 filter_default => stop,
	 filters => [{debug_only,
		      {fun logger_filters:level/2, 
		       {log, eq, debug}}}],
	 config => #{ type => standard_io } %% standard_io | standard_error 
       }},

     %% DEBUG disk log, debug ONLY level

     {handler, debug, logger_disk_log_h,
      #{ level => debug,
	 filter_default => stop,
	 filters => [{debug_only,
		      {fun logger_filters:level/2, 
		       {log, eq, debug}}}],
	 config => #{ file => "logs/debug.log",
		      type => wrap,
		      max_no_files => 4,
		      max_no_bytes => 1000000
		    }}
     }

    ]}
  ]}

].

