%% -*- erlang -*-
%%  local client config (one or more)
{"local",
 [
  {server_key, 3177648541185394227},
  {client_key, 12187761947737533676},
  {user_socket_options, [{sndbuf, 4096}]},
  {client_socket_options, [{sndbuf, 2048}]},
  {route,
   [
    [{data, "SSH-2.0.*"}],
    [{data, "GET .*"}]
   ]}
 ]}.


