%% -*- erlang -*-
%%      primary server

{"primary",
 [
  {id, "local"},                 %% auth id in server
  {server_ip, "127.0.0.1"},      %% connect to this address
  {server_port, 29390},          %% connect to this port
  {server_key, 3177648541185394227},   %% server is signing using this key
  {client_key, 12187761947737533676},  %% client is signing using this key
  {route,[
	  { [{data, "SSH-2.0.*"}],  [{port,22}] },
	  { [{data, "GET .*"}],     [{port,80}] }
	 ]}
 ]}.
